@font-face {
    font-family: 'aleo-regular-webfont';
    src: url(/First-Examination/fonts/aleo-regular-webfont.woff2) format('woff2'),
        url(/First-Examination/fonts/aleo-regular-webfont.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(/First-Examination/fonts/JosefinSans-Regular.woff2) format('woff2'),
        url(/First-Examination/fonts/JosefinSans-Regular.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url(/First-Examination/fonts/JosefinSans-Bold.woff2) format('woff2'),
        url(/First-Examination/fonts/JosefinSans-Bold.woff) format('woff');
    font-style: normal;
    font-display: swap;
}